:root {
  --ff_body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff_heading: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff_mono: Consolas, monaco, monospace;
  --fs_base: 16px;
  --fs_small: calc(0.6 * var(--fs_base));
  --fs_large: calc(1.5 * var(--fs_base));
  --fs_h6: var(--fs_base);
  --fs_h5: calc(1.25 * var(--fs_base));
  --fs_h4: calc(1.5 * var(--fs_base));
  --fs_h3: calc(1.75 * var(--fs_base));
  --fs_h2: calc(2 * var(--fs_base));
  --fs_h1: calc(2.5 * var(--fs_base));
  --fw_base: 400;
  --fw_bold: 700;
  --spacer: 1rem;
  --spacer_h: calc(0.5 * var(--spacer));
  --spacer_q: calc(0.25 * var(--spacer));
  --line-height: 1.35em;
  --container_width: 90rem;
  --animation_ms: 256ms;
  --radius: 0.25rem;
  --link_decoration: underline;
  --input_padding: var(--spacer_h) var(--spacer);
  --input_border_width: 1px;
  --c_input_border: var(--c_border);
  --btn_padding: var(--spacer_h) var(--spacer);
  --date_picker_icon_filter: invert(0);
}

:root,
[theme="light"] {
  color-scheme: light;
  --c_bg: #f9f9f9;
  --c_bg__inv: #333;
  --c_bg__alt: #eee;
  --c_overscroll: white;
  --c_border: #ccc;
  --c_border__inv: var(--d_c_bg_border);
  --c_primary: #36f;
  --c_primary__hover: #14d;
  --c_secondary: #93f;
  --c_secondary__hover: #71d;
  --c_success: #080;
  --c_success__hover: #060;
  --c_warning: #f60;
  --c_warning__hover: #d40;
  --c_danger: #f03;
  --c_danger__hover: #d01;
  --c_input_accent: #36f;
  --c_highlight: rgba(41, 100, 210, 0.25);
  --tc: rgba(0, 0, 0, 0.93);
  --tc_dark: var(--tc);
  --tc_light: rgba(255, 255, 255, 0.93);
  --tc_inv:  var(--tc_light);
  --tc_muted: rgba(0, 0, 0, 0.5);
  --tc_on_primary: var(--tc_light);
  --tc_on_secondary: var(--tc_light);
  --tc_on_success: var(--tc_light);
  --tc_on_warning: var(--tc_light);
  --tc_on_danger: var(--tc_light);
  --c_overlay: rgba(0, 0, 0, 0.5);
  --tc_primary: #36f;
  --tc_secondary: #93f;
  --tc_success: #080;
  --tc_warning: #f60;
  --tc_danger: #f03;
  --btn_box_shadow: 0 0 0 transparent;
  --btn_box_shadow__hover: 0 0 0 transparent;
  --btn_border: transparent;
  --btn_bg: #ddd;
  --btn_bg__hover: #ccc;
  --btn_tc: rgba(0, 0, 0, 0.93);
  --btn_transparent__hover: rgba(0, 0, 0, 0.05);
  --tc_link: var(--tc_primary);
  --tc_link__hover: var(--tc_secondary);
  --tc_link__inv: var(--tc_primary__inv);
  --tc_link__inv__hover: var(--tc_secondary__inv);
  --focus_shadow: 0 0 2px 2px var(--c_primary);
  --focus_shadow_on_primary: 0 0 2px 2px var(--tc_on_primary);
  --input_bg: white;
  --input_tc: rgba(0, 0, 0, 0.93);
  --drop_shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.333); 
}
[auto-theme="dark"]:not([theme="light"]),
[theme="dark"] {
  color-scheme: dark;
  --c_bg: #333;
  --c_bg__inv: #f9f9f9;
  --c_bg__alt: #222;
  --c_overscroll: black;
  --c_border: #777;
  --c_border__inv: #ccc;
  --c_primary: #36f;
  --c_primary__hover: #14d;
  --c_secondary: #93f;
  --c_secondary__hover: #71d;
  --c_success: #080;
  --c_success__hover: #060;
  --c_warning: #f60;
  --c_warning__hover: #d40;
  --c_danger: #f03;
  --c_danger__hover: #d01;
  --c_input_accent: #36f;
  --c_highlight: rgba(0, 89, 255, 0.25);
  --tc: rgba(255, 255, 255, 0.93);
  --tc_dark: rgba(0, 0, 0, 0.93);
  --tc_light: var(--tc);
  --tc_inv:  var(--tc_dark);
  --tc_muted: rgba(255, 255, 255, 0.5);
  --tc_on_primary: var(--tc);
  --tc_on_secondary: var(--tc);
  --tc_on_success: var(--tc);
  --tc_on_warning: var(--tc);
  --tc_on_danger: var(--tc);
  --c_overlay: rgba(0, 0, 0, 0.5);
  --tc_primary: #8ab4f8;
  --tc_secondary: #b6f;
  --tc_success: #6b6;
  --tc_warning: #f93;
  --tc_danger: #f57;
  --btn_bg: #aaa;
  --btn_bg__hover: #bbb;
  --btn_tc: rgba(0, 0, 0, 0.93);
  --btn_transparent__hover: rgba(255, 255, 255, 0.05);
  --btn_box_shadow: 0 0 0 transparent;
  --btn_box_shadow__hover: 0 0 0 transparent;
  --btn_border: transparent;
  --tc_link: var(--tc_primary);
  --tc_link__hover: var(--tc_secondary);
  --tc_link__inv: var(--tc_primary__inv);
  --tc_link__inv__hover: var(--tc_secondary__inv);
  --focus_shadow: 0 0 2px 2px var(--c_primary);
  --focus_shadow_on_primary: 0 0 2px 2px var(--tc_on_primary);
  --input_bg: var(--c_bg__alt);
  --input_tc: var(--tc);
  --ff_body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff_heading: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff_mono: Consolas, monaco, monospace;
  --fs_base: 16px;
  --fs_h6: var(--fs_base);
  --fs_h5: calc(1.25 * var(--fs_base));
  --fs_h4: calc(1.5 * var(--fs_base));
  --fs_h3: calc(1.75 * var(--fs_base));
  --fs_h2: calc(2 * var(--fs_base));
  --fs_h1: calc(2.5 * var(--fs_base));
  --fw_base: 400;
  --fw_bold: 700;
  --spacer: 1rem;
  --spacer_h: calc(0.5 * var(--spacer));
  --spacer_q: calc(0.25 * var(--spacer));
  --line-height: 1.35em;
  --container_width: 90rem;
  --animation_ms: 256ms;
  --radius: 0.25rem;
  --drop_shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25); 
  --link_decoration: underline;
  --date_picker_icon_filter: invert(1)
}